<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tallymarks.ffmapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA1VAuoEBO2B85WWcQTHkjRqgUay3emHwY" />


        <activity
            android:name=".activities.SpalshScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.DownloadFarmersDataActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.StartActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.VisitCustomerActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.AddNewFarmerActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.FarmerMeetingActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.CustomerSnapShotActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:taskAffinity=""
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.MarketPricesActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.FloorStockActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".activities.FarmVisitActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.QualityofSalesCallActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.FarmerDemoActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SoilAnalysis"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SoilSamplingActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.VisitFarmerActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SalesOrderMarketPriceActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.MapActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.FarmersStartActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.CustomerLocationActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SubOrdinatesActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SOILSamplinLogsActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.CustomMap"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SubordinatListActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SuperVisorSnapShotActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.StockSellingSummaryActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activities.DealersActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".activities.EditFarmerActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.EditFarmerDetailActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.ConversionRetentionActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".activities.ConverionRetentionFormActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".activities.FarmVisitRoleWiseActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".activities.ChangeCustomerLocationListActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".activities.SupervisorLocationApprovalListActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".activities.ChangeCoordinatesMapActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".activities.NotificationActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".activities.LocationChangeRequestActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".activities.TodayCustomerMap"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>


        <service
            android:name="com.tallymarks.ffmapp.utils.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
<!--            android:resource="@drawable/engrosmall" />-->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_color"-->
<!--            android:resource="@color/white" />-->
    </application>

</manifest>